/venv/
/documentation/_build
.DS_Store
/data
/notebooks/Results/
/notebooks/AveragedOutput.xlsx
/notebooks/graph_gen.gexf
/notebooks/successrates.xlsx
/output/
/output/Class67/
/output/Class71/
/output/Class72/
/output/Class74/
/output/Class77/
/output/Class78/
/output/Class79/
/output/Class81/
/output/Class83/
/output/Class86/
/output/Class100/
/output/Class101/
/output/Class103/
/output/Class121/
/output/Class122/
/output/Class125/
/output/Class126/
/output/Class127/
/output/Class129/
/output/Class130/
/output/Class131/
/output/Class133/
/output/Class135/
/output/Class136/
/output/Class138/
/output/Class139/
/output/ClassesSummary/
/output/age.csv
/output/class.csv
/output/connections_gen.csv
/output/gender.csv
/output/graph_gen.gexf
